<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desmatamento no Amazonas</title>
  <link rel="stylesheet" href="highestDesforestation.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body >

  <nav class="header">

    <a>
      <img class="logo" src="/src/view/assets/dasdad.png">
    </a>

    <a class="nav-link" href="./alltips.html">Veja todas as dicas de sustentabilidade</a>
    <a class="nav-link" href="./desforestation.html">Obtenha dados  de desmatamento do Amazonas e seus estados abrangentes</a>
    <a class="nav-link" href="./searchStates.html">Obtenha e pesquise dados sobre desmatamento de um dos  estados que abrangem o Amazonas</a>
    <a class="nav-link" href="./index.html">Veja dicas aleatórias de sustentabilidade</a>



  </nav>


  <div class="main">


    <h1 class="title">Aqui você obtém Dados do estado  que abrange a Amazonia com maior desmatamento no Brasil ao longo dos anos</h1>


    <br>

    <div class="container-graph">
      <canvas id="mygraph" class="hide"></canvas>
      <button class="btn" id="btn">Obter dado e gerar um gráfico</button>
    </div>
    




    







    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="highestDeforestation.js"></script>
   
</body>

</html>